@import "tailwindcss";

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@theme {
  --font-sans: 'Pretendard', ui-sans-serif, system-ui;

  --color-primary: #224C97;

  --text-heading: 1.75rem;
  --text-input: 1.5rem;
}